<web-app id="WebApp_ID">
	<display-name>BuyLocalBonds</display-name>
	<servlet>
		<servlet-name>BondSearchServlet</servlet-name>
		<display-name>BondSearchServlet</display-name>
		<description></description>
		<servlet-class>com.team8.servlets.BondSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerServlet</servlet-name>
		<display-name>CustomerServlet</display-name>
		<description></description>
		<servlet-class>com.team8.servlets.CustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BuyBondServlet</servlet-name>
		<display-name>BuyBondServlet</display-name>
		<description></description>
		<servlet-class>com.team8.servlets.BuyBondServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SellBondServlet</servlet-name>
		<display-name>SellBondServlet</display-name>
		<description></description>
		<servlet-class>com.team8.servlets.SellBondServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PortfolioServlet</servlet-name>
		<display-name>PortfolioServlet</display-name>
		<description></description>
		<servlet-class>com.team8.servlets.PortfolioServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>BondSearchServlet</servlet-name>
		<url-pattern>/BondSearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/CustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuyBondServlet</servlet-name>
		<url-pattern>/BuyBond</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SellBondServlet</servlet-name>
		<url-pattern>/SellBond</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PortfolioServlet</servlet-name>
		<url-pattern>/Portfolio</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
